{% extends "admin/main.html" %}

{% block main %}
  <h2 class="center">{{ heading() }}
    {%- if let Some(metadata) = metadata -%} 
      : {{  metadata.recordnum|opt }}
    {% endif %}
  </h2>
  {{ self::burn_after_reading()|safe }}

  {% if let Some(metadata) = metadata %}
  <div class="scroll-table-container">
    <form action="{{ ADMIN_METADATA_EDIT_PATH }}" method="post">
      <table class="scroll-table">
        <thead><tr>
          <th>Field</th>
          <th>Value</th>
        </tr></thead>
        <tbody>
            <tr>
              <td><label for="count_type">count_type</label></td>
              <td>{{ metadata.count_kind|input("count_kind") }}</td>
            </tr>
            <tr>
              <td><label for="cntdir">cntdir</label></td>
              <td>{{ metadata.cntdir|input("cntdir") }}</td>
            </tr>
            <tr>
              <td><label for="trafdir">trafdir</label></td>
              <td>{{ metadata.trafdir|input("trafdir") }}</td>
            </tr>
            <tr>
              <td><label for="indir">indir</label></td>
              <td>{{ metadata.indir|input("indir") }}</td>
            </tr>
            <tr>
              <td><label for="outdir">outdir</label></td>
              <td>{{ metadata.outdir|input("outdir") }}</td>
            </tr>
            <tr>
              <td><label for="fromlmt">fromlmt</label></td>
              <td>{{ metadata.fromlmt|input("fromlmt") }}</td>
            </tr>
            <tr>
              <td><label for="tolmt">tolmt</label></td>
              <td>{{ metadata.tolmt|input("tolmit") }}</td>
            </tr>
              <tr>
                <td><label for="latitude">latitude</label></td>
                <td>{{ metadata.latitude|input("latitute") }}</td>
              </tr>
              <tr>
                <td><label for="longitude">longitude</label></td>
                <td>{{ metadata.longitude|input("longitude") }}</td>
              </tr>
              <tr>
                <td><label for="x">x</td></label>
                <td>{{ metadata.x|input("x") }}</td>
              </tr>
              <tr>
                <td><label for="y">y</td></label>
                <td>{{ metadata.y|input("y") }}</td>
              </tr>
              <tr>
                <td><label for="bikepedesc">bikepeddesc</label></td>
                <td>{{ metadata.bikepeddesc|input("bikepeddesc") }}</td>
              </tr>
              <tr>
                <td><label for="bikepedfacility">bikepedfacility</label></td>
                <td>{{ metadata.bikepedfacility|input("bikepedfacility") }}</td>
              </tr>
              <tr>
                <td><label for="bikepedgroup">bikepedgroup</label></td>
                <td>{{ metadata.bikepedgroup|input("bikepedgroup") }}</td>
              </tr>
              <tr>
                <td><label for="comments">comments</label></td>
                <td>{{ metadata.comments|input("comments") }}</td>
              </tr>
              <tr>
                <td><label for="counter_id">counter_id</label></td>
                <td>{{ metadata.counter_id|input("counter_id") }}</td>
              </tr>
              <tr>
                <td><label for="datelastcounted">datelastcounted</label></td>
                <td>{{ metadata.datelastcounted|input("datelastcounted") }}</td>
              </tr>
              <tr>
                <td><label for="description">description</label></td>
                <td>{{ metadata.description|input("description") }}</td>
              </tr>
              <tr>
                <td><label for="fc">fc</td></label>
                <td>{{ metadata.fc|input("fc") }}</td>
              </tr>
              <tr>
                <td><label for="isurban">isurban</label></td>
                <td>{{ metadata.isurban|input("isurban") }}</td>
              </tr>
              <tr>
                <td><label for="mcd">mcd</label></td>
                <td>{{ metadata.mcd|input("mcd") }}</td>
              </tr>
              <tr>
                <td><label for="mp">mp</td></label>
                <td>{{ metadata.mp|input("mp") }}</td>
              </tr>
              <tr>
                <td><label for="offset">offset</label></td>
                <td>{{ metadata.offset|input("offset") }}</td>
              </tr>
              <tr>
                <td><label for="prj">prj</label></td>
                <td>{{ metadata.prj|input("prj") }}</td>
              </tr>
              <tr>
                <td><label for="program">program</label></td>
                <td>{{ metadata.program|input("program") }}</td>
              </tr>
              <tr>
                <td><label for="rdprefix">rdprefix</label></td>
                <td>{{ metadata.rdprefix|input("rdprefix") }}</td>
              </tr>
              <tr>
                <td><label for="rdsuffix">rdsuffix</label></td>
                <td>{{ metadata.rdsuffix|input("rdsuffix") }}</td>
              </tr>
              <tr>
                <td><label for="road">road</label></td>
                <td>{{ metadata.road|input("road") }}</td>
              </tr>
              <tr>
                <td><label for="route">route</label></td>
                <td>{{ metadata.route|input("route") }}</td>
              </tr>
              <tr>
                <td><label for="seg">seg</label></td>
                <td>{{ metadata.seg|input("seg") }}</td>
              </tr>
              <tr>
                <td><label for="sidewalk">sidewalk</label></td>
                <td>{{ metadata.sidewalk|input("sidewalk") }}</td>
              </tr>
              <tr>
                <td><label for="source">source</label></td>
                <td>{{ metadata.source|input("source") }}</td>
              </tr>
              <tr>
                <td><label for="speedlimit">speedlimit</label></td>
                <td>{{ metadata.speedlimit|input("speedlimit") }}</td>
              </tr>
              <tr>
                <td><label for="sr">sr</td></label>
                <td>{{ metadata.sr|input("sr") }}</td>
              </tr>
              <tr>
                <td><label for="sri">sri</label></td>
                <td>{{ metadata.sri|input("sri") }}</td>
              </tr>
              <tr>
                <td><label for="stationid">stationid</label></td>
                <td>{{ metadata.stationid|input("stationid") }}</td>
              </tr>
              <tr>
                <td><label for="technician">technician</label></td>
                <td>{{ metadata.technician|input("technician") }}</td>
              </tr>
          </tbody>
        </table>

        <input type="hidden" name="recordnum" value="{{ metadata.recordnum|opt }}" />
        <input type="submit" value="Submit" />
      </form>
    </div>
  {% else %}
    <form action="{{ ADMIN_METADATA_EDIT_PATH }}" method="get">
      <table>
        <tr><td>
          <label for="recordnum">
            Recordnum of count metadata to edit:
          </label>
        </td><td>
          <input type="text" id="recordnum" name="recordnum" />
        </td></tr>
      </table>
      <input type="submit" value="Submit" />
    </form>

  {% endif %}
{% endblock %}


