{% extends "admin/main.html" %}

{% block main %}
  <h2 class="center">{{ heading() }}
    {%- if let Some(v) = recordnum -%} 
      : <a href="{{ ADMIN_METADATA_DETAIL_PATH }}?recordnum={{ v }}">{{ v }}</a>
    {% endif %}
  </h2>
  {% if let Some(message) = message %}
    {{ message }}
  {% endif %}
  <form action="{{ ADMIN_IMPORT_LOG_PATH }}" method="get">
    <label>
      Filter by recordnum:
      <input type="text" name="recordnum" />
    </label>
    <input type="submit" value="Submit" />
    <input type="submit" name="clear" value="Clear" />
  </form>
  <br/>
  <div class="scroll-table-container">
    <table class="scroll-table" style="width:100%">
      <thead><tr>
        <th>Date</th>
        <th>recordnum</th>
        <th>Log level</th>
        <th>Message</th>
      </tr></thead>
      <tbody>
      {% for item in log_entries %}
        <tr>
          <td nowrap>
            {{ item.datetime.unwrap().date()|safe }}
            {{ item.datetime.unwrap().hour()|safe }}:{{ item.datetime.unwrap().minute()|safe }}
          </td>
          <td><a href="{{ ADMIN_METADATA_DETAIL_PATH }}?recordnum={{ item.recordnum }}">{{ item.recordnum }}</a></td>
          <td style="text-align:center"
          {% if item.level == "WARN" %}
            class="warning"
          {% else if item.level == "ERROR" %}
            class="error"
          {% endif %}
          >{{ item.level }}</td>
          <td style="white-space:normal; text-align:left">{{ item.msg }}</td>
        </tr>
      {% endfor %}
  </table>
{% endblock %}
