{% extends "base.html" %}

{% block header %}
  <h1>Traffic Counts: Admin</h1>
{% endblock %}

{% block nav %}
    <h2>Metadata (tc_header)</h2>
    <form>
      <ul>
        <li><button formaction="{{ ADMIN_METADATA_LIST_PATH }}">
          {{ AdminMetadataListTemplate::NAV_ITEM_TEXT }}
        </button></li>
        <li><button formaction="{{ ADMIN_METADATA_INSERT_PATH }}">
          {{ AdminInsertTemplate::NAV_ITEM_TEXT }}
        </button></li>
        <li><button formaction="{{ ADMIN_METADATA_EDIT_PATH }}">{{ AdminEditTemplate::NAV_ITEM_TEXT }}</button></li>
        <li><button formaction="{{ ADMIN_PATH }}/create-packets">Create Packets (todo)</button></li>
      </ul>

      <h2 class="section_heading">Import</h2>
      <ul>
        <li><button formaction="{{ ADMIN_PATH }}/import-ecocounter">Import from EcoCounter (todo)</button></li>
        <li><button formaction="{{ ADMIN_PATH }}/import-jamar">Import from JAMAR (todo)</button></li>
        <li><button formaction="{{ ADMIN_IMPORT_LOG_PATH }}">
          {{ AdminImportLogTemplate::NAV_ITEM_TEXT }}
        </button></li>
      </ul>

      <h2 class="section_heading">Average Annual Daily Volume</h2>
      <ul>
        <li><button formaction="{{ ADMIN_AADV_PATH }}">{{ AadvTemplate::NAV_ITEM_TEXT }}</button></li>
        <li><button formaction="{{ ADMIN_PATH }}/insert-factors">Insert Factors (todo)</button></li>
        <li><button formaction="{{ ADMIN_PATH }}/update-factors">Update Factors (todo)</button></li>      
      </ul>
    </form>
{% endblock %}

