{% extends "base.html" %}

{% block header %}
  <h1>Traffic Counts: Admin</h1>
{% endblock %}

{% block nav %}
    <h2>Metadata (tc_header)</h2>
    <form>
      <ul>
        <li><button formaction="{{ ADMIN_METADATA_LIST_PATH }}">
          {{ AdminMetadataListTemplate::heading() }}
        </button></li>
        <li><button formaction="{{ ADMIN_METADATA_INSERT_PATH }}">
          {{ AdminInsertTemplate::heading() }}
        </button></li>
        <li><button formaction="{{ ADMIN_PATH }}/insert-with-template">
            Insert Records from Template (heading())
        </button></li>
        <li><button formaction="{{ ADMIN_PATH }}/edit-record">Edit Record (heading())</button></li>
        <li><button formaction="{{ ADMIN_PATH }}/create-packets">Create Packets (heading())</button></li>
      </ul>

      <h2 class="section_heading">Import</h2>
      <ul>
        <li><button formaction="{{ ADMIN_PATH }}/import-ecocounter">Import from EcoCounter (heading())</button></li>
        <li><button formaction="{{ ADMIN_PATH }}/import-jamar">Import from JAMAR (heading())</button></li>
        <li><button formaction="{{ ADMIN_IMPORT_LOG_PATH }}">
          {{ AdminImportLogTemplate::heading() }}
        </button></li>
      </ul>

      <h2 class="section_heading">Factors</h2>
      <ul>
        <li><button formaction="{{ ADMIN_PATH }}/insert-factors">Insert Factors</button></li>
        <li><button formaction="{{ ADMIN_PATH }}/update-factors">Update Factors</button></li>      
      </ul>
    </form>
{% endblock %}

