{% extends "base.html" %}

{% block header %}

<h1>{{ header_text }}</h1>

{% endblock %}

{% block nav %}
  <form action="/admin" method="post">
    <h2 class="section_heading">Metadata (tc_header)</h2>
    <ul>
      <li><button name="action" value="{{ AdminAction::InsertOne.as_ref() }}">{{ AdminAction::InsertOne }}</button></li>
      <li><button name="action" value="{{ AdminAction::InsertMany.as_ref() }}">{{ AdminAction::InsertMany }}</button></li>
      <li><button name="action" value="{{ AdminAction::InsertWithTemplate.as_ref() }}">{{ AdminAction::InsertWithTemplate }}</button></li>
      <li><button name="action" value="{{ AdminAction::EditOne.as_ref() }}">{{ AdminAction::EditOne }}</button></li>
      <li><button name="action" value="{{ AdminAction::CreatePackets.as_ref() }}">{{ AdminAction::CreatePackets }}</button></li>
    </ul>

    <h2 class="section_heading">Count data</h2>
    <ul>
      <li><button name="action" value="{{ AdminAction::ImportEcoCounter.as_ref() }}">{{ AdminAction::ImportEcoCounter }}</button></li>
      <li><button name="action" value="{{ AdminAction::ImportJamar.as_ref() }}">{{ AdminAction::ImportJamar }}</button></li>
      <li><button name="action" value="{{ AdminAction::ShowFullLog.as_ref() }}"> {{ AdminAction::ShowFullLog }}</button></li>
      <li><button name="action" value="{{ AdminAction::ShowOneLog.as_ref() }}">{{ AdminAction::ShowOneLog }}</button></li>
    </ul>

    <h2 class="section_heading">Factors</h2>
    <ul>
      <li><button name="action" value="{{ AdminAction::InsertFactors.as_ref() }}">{{ AdminAction::InsertFactors }}</button></li>
      <li><button name="action" value="{{ AdminAction::UpdateFactors.as_ref() }}">{{ AdminAction::UpdateFactors }}</button></li>
    </ul>
  </form>
{% endblock %}

{% block main %}
  <h2 class="center">{{ admin_action }}</h2>

  {# Display any message to the user, if there is one. #}
  {% match message %}
    {% when Some with (v) %} {{ v }}
    {% when _ %} 
  {% endmatch %}

  {# Display based on action taken. #}
  {% match admin_action %}
    {% when AdminAction::Start %} 

    {% when AdminAction::ShowFullLog %} 
      {% match log_records %}
        {% when Some(log_records) %} 
          {% include "log_records_table.html" %}
        {% when None %}        
      {% endmatch %}

    {% when AdminAction::ShowOneLog %}
      {% match log_records %}
        {% when Some(log_records) %} 
          {% if log_records.is_empty() %}
            No import records found. Try again:<br>
            {% include "recordnum_form.html" %}
          {% else %}
            {% include "log_records_table.html" %}
          {% endif %}
        {% when None %}
          {% include "recordnum_form.html" %}
      {% endmatch %}

    {% when AdminAction::InsertOne %}
      <br/>
      <for action="/adin" method="post">
        Please confirm that you want to create a new, empty record in the `tc_header` table:
        <button name="action" value="{{ AdminAction::InsertOneConfirm.as_ref() }}">Confirm</button>
      </form>

    {% when AdminAction::InsertMany %}
      <form action="/admin" method="post">
        <label>
          How many empty records would you like to create?<br>
          <input type="text" name="number_to_create" required />
        </label>
        <button name="action" value="{{ AdminAction::InsertManyConfirm.as_ref() }}">Submit</button>
      </form>

    {% when AdminAction::InsertOneConfirm %}
    {% when AdminAction::InsertManyConfirm %}
    {% when AdminAction::InsertWithTemplate %}
    {% when AdminAction::EditOne %}
    {% when AdminAction::CreatePackets %}
    {% when AdminAction::ImportEcoCounter %}
    {% when AdminAction::ImportJamar %}
    {% when AdminAction::InsertFactors %}
    {% when AdminAction::UpdateFactors %}

  {% endmatch %}
 
{% endblock %}
