{% extends "base.html" %}

{% block header %}

<h1>{{ header_text }}</h1>

{% endblock %}

{% block main_content %}
<div id="sidebar">
  <div>
    <form action="/admin" method="post">
      <h2 class="section_heading">Metadata (tc_header)</h2>
      <ul>
        <li><button name="action" value="{{ AdminAction::InsertOne }}">{{ AdminAction::InsertOne.long_display() }}</button></li>
        <li><button name="action" value="{{ AdminAction::InsertMany }}">{{ AdminAction::InsertMany.long_display() }}</button></li>
        <li><button name="action" value="{{ AdminAction::InsertWithTemplate }}">{{ AdminAction::InsertWithTemplate.long_display() }}</button></li>
        <li><button name="action" value="{{ AdminAction::EditOne }}">{{ AdminAction::EditOne.long_display() }}</button></li>
        <li><button name="action" value="{{ AdminAction::CreatePackets }}">{{ AdminAction::CreatePackets.long_display() }}</button></li>
      </ul>

      <h2 class="section_heading">Count data</h2>
      <ul>
        <li><button name="action" value="{{ AdminAction::ImportEcoCounter }}">{{ AdminAction::ImportEcoCounter.long_display() }}</button></li>
        <li><button name="action" value="{{ AdminAction::ImportJamar }}">{{ AdminAction::ImportJamar.long_display() }}</button></li>
        <li><button name="action" value="{{ AdminAction::ShowFullLog }}">{{ AdminAction::ShowFullLog.long_display() }}</button></li>
        <li><button name="action" value="{{ AdminAction::ShowRecordLog }}">{{ AdminAction::ShowRecordLog.long_display() }}</button></li>
      </ul>

      <h2 class="section_heading">Factors</h2>
      <ul>
        <li><button name="action" value="{{ AdminAction::InsertFactors }}">{{ AdminAction::InsertFactors.long_display() }}</button></li>
        <li><button name="action" value="{{ AdminAction::UpdateFactors }}">{{ AdminAction::UpdateFactors.long_display() }}</button></li>
      </ul>
    </form>
  </div>
</div>

<div id="right">
  <h2 class="center">{{ right_header }}</h2>
  {% match log_records %}
    {% when Some with (v) %} 
    <table>
      {% for item in v %}
        <tr>
          <td>
            {{ item.datetime.unwrap().date()|safe }} 
            {{ item.datetime.unwrap().hour()|safe }}:{{ item.datetime.unwrap().minute() }}
          </td> 
          <td>{{ item.record_num|safe }}</td>
          <td>{{ item.level|safe }}</td>
          <td>{{ item.msg|safe }}</td>
        </tr>
      {% endfor %}
    </table>
    {% when None %}
  {% endmatch %}
</div>

{% endblock %}
