{% extends "admin/main.html" %}
{% block main %}
  <h2 class="center">{{ heading() }}
    {%- if let Some(v) = recordnum -%} 
      : <a href="{{ ADMIN_METADATA_DETAIL_PATH }}?recordnum={{ v }}">{{ v }}</a>
    {% endif %}
  </h2>
  {% if let Some(message) = message %}
    {{ message }}
  {% endif %}

  <form action="{{ ADMIN_AADV_PATH }}" method="get">
    <label>
      Filter by recordnum:
      <input type="text" name="recordnum" />
    </label>
    <input type="submit" value="Submit" />
    <input type="submit" name="clear" value="Clear" />
  </form>
  <br/>

  {% if !aadv.is_empty() %}
    <div class="scroll-table-container">
      <table class="scroll-table">
          <thead><tr>
            <th>recordnum</th>
            <th>date</th>
            <th>direction</th>
            <th>aadv</th>
          </tr></thead>
          <tbody>
          {% for item in aadv %}
            <tr>
              <th><a href="{{ ADMIN_METADATA_DETAIL_PATH }}?recordnum={{ item.recordnum }}">{{ item.recordnum }}</a></th>
              <td>{{ item.date_calculated }}</td>
              <td>{{ self::display_some(item.direction) }}</td>
              <td>{{ item.aadv }}</td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}
