{% extends "admin/main.html" %}
{% block main %}
  <h2 class="center">{{ heading() }}
    {%- if let Some(metadata) = metadata -%} 
      : {{  metadata.recordnum|opt }}
    {% endif %}
  </h2>

  {{ self::burn_after_reading()|safe }}

  {% if let Some(metadata) = metadata %}
    {% if let Some(count_kind) = metadata.count_kind %}
      {% if count_kind == &CountKind::Class || count_kind == &CountKind::Volume || count_kind == &CountKind::FifteenMinVolume %}
        <a href="{{ ADMIN_COUNT_DATA_PATH }}?recordnum={{ metadata.recordnum|opt }}&format=VolumeDayByHour">
          Volume by Hour of Day
        </a>
      {% endif %}

      {% if count_kind == &CountKind::FifteenMinVolume 
        || count_kind == &CountKind::Bicycle1 
        || count_kind == &CountKind::Bicycle2 
        || count_kind == &CountKind::Bicycle3 
        || count_kind == &CountKind::Bicycle4 
        || count_kind == &CountKind::Bicycle5 
        || count_kind == &CountKind::Bicycle6 
        || count_kind == &CountKind::Pedestrian 
        || count_kind == &CountKind::Pedestrian2 
      %}
        <a href="{{ ADMIN_COUNT_DATA_PATH }}?recordnum={{ metadata.recordnum|opt }}&format=Volume15Min">
          Fifteen-minute Volume
        </a>
        <a href="{{ ADMIN_COUNT_DATA_PATH }}?recordnum={{ metadata.recordnum|opt }}&format=VolumeHourly">
          Hourly Volume
        </a>
      {% endif %}

      {% if count_kind == &CountKind::Class %}
        <a href="{{ ADMIN_COUNT_DATA_PATH }}?recordnum={{ metadata.recordnum|opt }}&format=Class15Min">
          Fifteen-minute Class
        </a>
        <a href="{{ ADMIN_COUNT_DATA_PATH }}?recordnum={{ metadata.recordnum|opt }}&format=ClassHourly">
          Hourly Class
        </a>
      {% endif %}

      {% if count_kind == &CountKind::Class || count_kind == &CountKind::Speed %}
        <a href="{{ ADMIN_COUNT_DATA_PATH }}?recordnum={{ metadata.recordnum|opt }}&format=Speed15Min">
          Fifteen-minute Speed
        </a>
        <a href="{{ ADMIN_COUNT_DATA_PATH }}?recordnum={{ metadata.recordnum|opt }}&format=SpeedHourly">
          Hourly Speed
        </a>
        <a href="{{ ADMIN_COUNT_DATA_PATH }}?recordnum={{ metadata.recordnum|opt }}&format=SpeedDayByHour">
          Avg Speed by Hour of Day
        </a>
      {% endif %}

      <a href="{{ ADMIN_AADV_PATH }}?recordnum={{  metadata.recordnum|opt }}">AADV</a>
    {% endif %}
    <br/>
    <a href="{{ ADMIN_METADATA_EDIT_PATH }}?recordnum={{ metadata.recordnum|opt }}">Edit</a>

    <br/>
    <div class="scroll-table-container">
      <table class="scroll-table">
        <thead><tr>
          <th>Field</th>
          <th>Value</th>
        </tr></thead>
        <tbody>
          <tr>
          <tr><td>recordnum</td><td>{{ metadata.recordnum|opt }}</tr>
          <tr><td>count_type</td><td>{{ metadata.count_kind|opt }}</td></tr>
          <tr><td>datelastcounted</td><td>{{ metadata.datelastcounted|opt }}</td></tr>
          <tr><td>technician</td><td>{{ metadata.technician|opt }}</td></tr>
          <tr><td>counter_id</td><td>{{ metadata.counter_id|opt }}</td></tr>
          <tr><td>cntdir</td><td>{{ metadata.cntdir|opt }}</td></tr>
          <tr><td>trafdir</td><td>{{ metadata.trafdir|opt }}</td></tr>
          <tr><td>indir</td><td>{{ metadata.indir|opt }}</td></tr>
          <tr><td>outdir</td><td>{{ metadata.outdir|opt }}</td></tr>
          <tr><td>fromlmt</td><td>{{ metadata.fromlmt|opt }}</td></tr>
          <tr><td>tolmt</td><td>{{ metadata.tolmt|opt }}</td></tr>
          <tr><td>latitude</td><td>{{ metadata.latitude|opt }}</td></tr>
          <tr><td>longitude</td><td>{{ metadata.longitude|opt }}</td></tr>
          <tr><td>x</td><td>{{ metadata.x|opt }}</td></tr>
          <tr><td>y</td><td>{{ metadata.y|opt }}</td></tr>
          <tr><td>amending</td><td>{{ metadata.amending|opt }}</td></tr>
          <tr><td>ampeak</td><td>{{ metadata.ampeak|opt }}</td></tr>
          <tr><td>pmending</td><td>{{ metadata.pmending|opt }}</td></tr>
          <tr><td>pmpeak</td><td>{{ metadata.pmpeak|opt }}</td></tr>
          <tr><td>bikepeddesc</td><td>{{ metadata.bikepeddesc|opt }}</td></tr>
          <tr><td>bikepedfacility</td><td>{{ metadata.bikepedfacility|opt }}</td></tr>
          <tr><td>bikepedgroup</td><td>{{ metadata.bikepedgroup|opt }}</td></tr>
          <tr><td>comments</td><td>{{ metadata.comments|opt }}</td></tr>
          <tr><td>createheaderdate</td><td>{{ metadata.createheaderdate|opt }}</td></tr>
          <tr><td>description</td><td>{{ metadata.description|opt }}</td></tr>
          <tr><td>fc</td><td>{{ metadata.fc|opt }}</td></tr>
          <tr><td>importdatadate</td><td>{{ metadata.importdatadate|opt }}</td></tr>
          <tr><td>isurban</td><td>{{ metadata.isurban|opt }}</td></tr>
          <tr><td>mcd</td><td>{{ metadata.mcd|opt }}</td></tr>
          <tr><td>mp</td><td>{{ metadata.mp|opt }}</td></tr>
          <tr><td>offset</td><td>{{ metadata.offset|opt }}</td></tr>
          <tr><td>prj</td><td>{{ metadata.prj|opt }}</td></tr>
          <tr><td>program</td><td>{{ metadata.program|opt }}</td></tr>
          <tr><td>rdprefix</td><td>{{ metadata.rdprefix|opt }}</td></tr>
          <tr><td>rdsuffix</td><td>{{ metadata.rdsuffix|opt }}</td></tr>
          <tr><td>road</td><td>{{ metadata.road|opt }}</td></tr>
          <tr><td>route</td><td>{{ metadata.route|opt }}</td></tr>
          <tr><td>seg</td><td>{{ metadata.seg|opt }}</td></tr>
          <tr><td>sidewalk</td><td>{{ metadata.sidewalk|opt }}</td></tr>
          <tr><td>speedlimit</td><td>{{ metadata.speedlimit|opt }}</td></tr>
          <tr><td>source</td><td>{{ metadata.source|opt }}</td></tr>
          <tr><td>sr</td><td>{{ metadata.sr|opt }}</td></tr>
          <tr><td>sri</td><td>{{ metadata.sri|opt }}</td></tr>
          <tr><td>stationid</td><td>{{ metadata.stationid|opt }}</td></tr>
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}
