{% extends "admin/main.html" %}
{% block main %}
  <h2 class="center">{{ heading() }}</h2>
  {{ self::burn_after_reading()|safe }}

  <form action="{{ ADMIN_METADATA_DETAIL_PATH }}" method="get">
    <label>
      Search for recordnum:
      <input type="text" name="recordnum" required />
    </label>
    <input type="submit" value="Submit" />
  </form>

  <form action="{{ ADMIN_METADATA_LIST_PATH }}" method="get">
    <p class="center small">Page {{ page }} of {{ total_pages }} |
      {% if page > 1 %}
        <a href="{{ ADMIN_METADATA_LIST_PATH }}?page=1">First</a>
        <a href="{{ ADMIN_METADATA_LIST_PATH }}?page={{ page - 1 }}">Previous</a>
      {% else %}
        First
        Previous
      {% endif %}
      {% if total_pages != page %}
        <a href="{{ ADMIN_METADATA_LIST_PATH }}?page={{ page + 1 }}">Next</a>
        <a href="{{ ADMIN_METADATA_LIST_PATH }}?page={{ total_pages }}">Last</a>
      {% else %}
        Next
        Last
      {% endif %}
    </p>
  </form>
  <div class="scroll-table-container">
    <table class="scroll-table">
      <thead><tr>
        <th>recordnum</th>
        <th>count_type</th>
        <th>datelastcounted</th>
        <th>technician</th>
        <th>counter_id</th>
        <th>cntdir</th>
        <th>trafdir</th>
        <th>indir</th>
        <th>outdir</th>
        <th>fromlmt</th>
        <th>tolmt</th>
        <th>latitude</th>
        <th>longitude</th>
        <th>x</th>
        <th>y</th>
        <th>amending</th>
        <th>ampeak</th>
        <th>pmending</th>
        <th>pmpeak</th>
        <th>bikepeddesc</th>
        <th>bikepedfacility</th>
        <th>bikepedgroup</th>
        <th>comments</th>
        <th>createheaderdate</th>
        <th>description</th>
        <th>fc</th>
        <th>importdatadate</th>
        <th>isurban</th>
        <th>mcd</th>
        <th>mp</th>
        <th>offset</th>
        <th>prj</th>
        <th>program</th>
        <th>rdprefix</th>
        <th>rdsuffix</th>
        <th>road</th>
        <th>route</th>
        <th>seg</th>
        <th>sidewalk</th>
        <th>speedlimit</th>
        <th>source</th>
        <th>sr</th>
        <th>sri</th>
        <th>stationid</th>
      </tr></thead>
      <tbody>
      {% for item in metadata %}
        <tr>
          <th>
            <a href="{{ ADMIN_METADATA_DETAIL_PATH }}?recordnum={{ item.recordnum|opt }}">
              {{ item.recordnum|opt }}
            </a>
          </th>
          <td>{{ item.count_kind|opt }}</td>
          <td>{{ item.datelastcounted|opt }}</td>
          <td>{{ item.technician|opt }}</td>
          <td>{{ item.counter_id|opt }}</td>
          <td>{{ item.cntdir|opt }}</td>
          <td>{{ item.trafdir|opt }}</td>
          <td>{{ item.indir|opt }}</td>
          <td>{{ item.outdir|opt }}</td>
          <td>{{ item.fromlmt|opt }}</td>
          <td>{{ item.tolmt|opt }}</td>
          <td>{{ item.latitude|opt }}</td>
          <td>{{ item.longitude|opt }}</td>
          <td>{{ item.x|opt }}</td>
          <td>{{ item.y|opt }}</td>
          <td>{{ item.amending|opt }}</td>
          <td>{{ item.ampeak|opt }}</td>
          <td>{{ item.pmending|opt }}</td>
          <td>{{ item.pmpeak|opt }}</td>
          <td>{{ item.bikepeddesc|opt }}</td>
          <td>{{ item.bikepedfacility|opt }}</td>
          <td>{{ item.bikepedgroup|opt }}</td>
          <td>{{ item.comments|opt }}</td>
          <td>{{ item.createheaderdate|opt }}</td>
          <td>{{ item.description|opt }}</td>
          <td>{{ item.fc|opt }}</td>
          <td>{{ item.importdatadate|opt }}</td>
          <td>{{ item.isurban|opt }}</td>
          <td>{{ item.mcd|opt }}</td>
          <td>{{ item.mp|opt }}</td>
          <td>{{ item.offset|opt }}</td>
          <td>{{ item.prj|opt }}</td>
          <td>{{ item.program|opt }}</td>
          <td>{{ item.rdprefix|opt }}</td>
          <td>{{ item.rdsuffix|opt }}</td>
          <td>{{ item.road|opt }}</td>
          <td>{{ item.route|opt }}</td>
          <td>{{ item.seg|opt }}</td>
          <td>{{ item.sidewalk|opt }}</td>
          <td>{{ item.speedlimit|opt }}</td>
          <td>{{ item.source|opt }}</td>
          <td>{{ item.sr|opt }}</td>
          <td>{{ item.sri|opt }}</td>
          <td>{{ item.stationid|opt }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
